<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="charset" value="UTF-8"/>

    <!-- Reglas muy básicas -->
    <module name="TreeWalker">
        <module name="LineLength">
            <property name="max" value="120"/>
            <property name="ignorePattern" value="^.*http.*$"/>
        </module>
    </module>
</configuration>